/* App.css */
body {
  background-color: #f1f1f2; /* Set your desired background color */
  font-family: "Raleway", sans-serif; /* Set the desired font */
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the body takes the full viewport height */
  color: #1995ad;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
